@import "tailwindcss";
* {
  scrollbar-color: oklch(54.742% 0.24331 262.725 / 0.4) #00000041;
}
a.active {
  background: oklch(65.613% 0.24084 353.961 / 0.404);
  color: #ffffff;
}
.test {
  height: 90%;
}
th {
  background: #000000;
}
tr {
  transition: 0.9s background ease-in-out;
}
tr:hover {
  transition: 0.9s background-color ease-in-out;
}
